
.subHeader{
    margin-left: 6%;
    margin-right: 6%;
    background-color: rgb(9, 246, 131);
}

.table{
    background-color: #aba2c5;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
   
}