/* .img-fluid {
    height: 250px;
    width: 250px;
  }

  h2{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  p{
    text-align: center;
  }

  .container{
    background-color: #aba2c5;
  }


  */