.searchpets {
    margin-left: 100px;
    margin-right: 100px;
    padding: 5%;
    margin-top: 100px;
}

.searchanimalsheader {
    text-align: center;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 200px;
    margin-top: 200px;
    color: #052d20;
}

#findpetdropdown {
    margin-left: 100px;
    margin-top: 80px;
}

#dropdownMenuButton {
    margin-left: 380px;
    padding-top: 9px;
    padding-left: 35px;
    padding-right: 35px;
}

.desc1 {
    font-weight: normal;
    font-size: 46px;
    color: #052d20;
    padding: 40px;
}

.card1 {
    width: 300px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 60px;
}

.searchbardiv {
    margin-left: 500px;
    width: 50%;
    margin-top: 150px;
    margin-bottom: 150px;
}


/* 
.mb-3 {
    width: 50%;
    margin-bottom: 10px;
} */

#petsearchbyname {
    margin-bottom: 10px;
}

#petsearchbtn {
    margin-left: 400px
}

#findpetimgarea {
    margin-left: 100px;
}